*, html, body, ul, ol, dl, li, dt, dd { margin: 0px; padding: 0px; }
html { height: 100%; }
body { min-height: 100%; position: relative; color: #3a414e; font: 16px 'Roboto Condensed', sans-serif; background: #fff; }

a { outline: none; color: #027f49; }
a:hover { text-decoration: none; }
img { border: none; display: block; }

p { font-size: 15px; margin: 0 0 10px 0; }

h1 { color: #027f49; font-size: 36px; font-weight: normal; margin: 0 0 25px 0; }
h2 { color: #3a414e; font-size: 20px; font-weight: normal; line-height: 20px; }
h3 { color: #343434; font-size: 16px; margin: 10px 0; }
h4 { color: #027f49; font-size: 30px; font-weight: normal; margin: 0 0 25px 0; }

input[type="text"], input[type="password"] { border: 1px solid #b1b0b0; text-align: center; padding: 2px 5px; color: #3f4554; font: 18px/29px 'PT Sans Narrow', sans-serif; background: #f1efef; transition: .2s all ease-in; }
input[type="text"]:focus, input[type="password"]:focus { background: #e0dfdf; }

table { border-collapse: collapse; border-spacing: 0; }



/*HTML5*/
header, section, footer, nav, article, aside { display: block; }

/*---Content---*/
.content {}



/*BODY*/
svg {height: 65%; position: absolute; top: -8%; left: 20%;}
g {cursor: pointer; transition: .2s all ease-out; opacity: .3;}
g:hover {opacity: 0;}

#fon {opacity: 1; cursor: default;}



/*excerrsizes*/
.excercises {width: 15%; margin: 5% 0 0 47%; background: #fff; max-height: 50%; overflow: auto;}
.excercises li, .training li {display: none; position: relative; z-index: 1; transition: .05s all ease;}
.excercises li>span, .training li>span {border: 1px solid #3a414e; padding: 2px 50px 2px 2px; display: block; cursor: pointer; transition: .2s all ease-in;}
.excercises li.animated, .training li.animated {transition: .2s all ease-in;}
li.temp {position: absolute;}

.sets {position: absolute; top: 3px; right: 5px; display: none;}
.sets>span {padding: 2px 4px; transition: .2s all ease;}
.sets>span:hover, .sets>span:focus {background: #e0dfdf; color: #858585;}

.description {display: none; font-size: 13px; line-height: normal;}
.description ul, .description ol {margin: 0 0 10px;}
.description li {margin: 0 0 3px 15px;}


.info {position: absolute; top: -3%; z-index: 1; left: 67%; width: 20%; border: 1px solid #333333; padding: 10px 15px; background: #fefefe; opacity: 0; transition: .2s all ease;}
.info.opened {opacity: 1;}
.info+.info.opened {z-index: 2;}
.info .description {display: block;}
.info .excercise-name {margin: 0 0 5px; display: block; font-weight: bold;}
.info img {max-width: 100%; max-height: 300px; margin: 0 auto 10px;}

/*trainings*/
.shedule {border: 1px solid #3a414e; position: fixed; left: 0; bottom: 0; top: 0; width: 400px;}
.shedule_header {border-bottom: 1px solid #3a414e; padding: 10px; font-size: 30px;}
.trainings {counter-reset: i 0;}
.training {min-height: 200px; border-bottom: 1px solid #3a414e; transition: background-color .3s ease, min-height .6s ease-in-out; position: relative; counter-increment: i;}
.training:after {content: counter(i); opacity: 1; transition: .3s opacity ease-in; position: absolute; z-index: 0; bottom: -15px; left: 0; font-size: 100px; color: #b1b0b0; text-align: center;}
.training .sets {display: block;}
.training.new {min-height: 0;}
.training.new:after {opacity: 0;}
.training li {left: 0 !important; top: 0 !important;}
.training li span {border-left-width: 0;border-right-width: 0; }



.addTraining { position: absolute; transition: .3s all ease; margin: -23px 0 0 -22px; left: 50%; font-size: 30px; color: #fff; background: #027f49; padding: 1px 15px 3px; border-radius: 100%; cursor: pointer; }
.addTraining:hover {opacity: .7;}

.easy {background: #ccffd8;}
.normal {background: #08e53c;}
.hard {background: #ff944d;}
.insane {background: #f33838;}













