*, html, body, ul, ol, dl, li, dt, dd {
    margin: 0px;
    padding: 0px;
}
.color1 {
    background: rgb(93, 176, 191);
}
.color2 {
    background: rgb(53, 93, 128);
}
.color3 {
    background: rgb(255, 76, 54);
}
.color4 {
    background: rgb(64, 64, 64);
}
.color5 {
    background: rgb(230, 226, 77);
}
html {
    height: 100%;
}
body {
    min-height: 100%;
    position: relative;
    color: rgb(64, 64, 64);
    font: 16px 'Roboto Condensed', sans-serif;
    background: radial-gradient(ellipse at 50% 50%, #eee 0%, #e0dfdf 100%);
}
a {
    outline: none;
    color: rgb(53, 93, 128);
}
a:hover {
    text-decoration: none;
}
img {
    border: none;
    display: block;
}
li {
    list-style: none;
    padding: 0;
}
p {
    margin: 0 0 10px 0;
}

h1 {
    color: rgb(53, 93, 128);
    font-size: 36px;
    font-weight: normal;
    margin: 0 0 25px 0;
}
h2 {
    color: rgb(64, 64, 64);
}
h3 {
    color: rgb(64, 64, 64);
    font-size: 16px;
    margin: 10px 0;
}
h4 {
    color: rgb(53, 93, 128);
    font-size: 30px;
    font-weight: normal;
    margin: 0 0 25px 0;
}

input[type="text"], input[type="password"] {
    border: 1px solid rgb(64, 64, 64);
    text-align: center;
    padding: 2px 5px;
    color: #3f4554;
    font: 18px/29px 'PT Sans Narrow', sans-serif;
    background: #f1efef;
    transition: .2s all ease-in;
}
input[type="text"]:focus, input[type="password"]:focus {
    background: #e0dfdf;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
td, th {
    border: 1px solid rgb(64, 64, 64);
    padding: 2px 5px;
    font-size: 18px;
}
caption {
    font-size: 30px;
}

.flex {
    display: -webkit-flex;
    display: flex;
    overflow: hidden;
}

/*---Content---*/
.content {
}


/* Trainings */
.shedule {
    border: 1px solid rgb(64, 64, 64);
    width: 23%;
    position: relative;
}
.shedule_header {
    border-bottom: 1px solid rgb(64, 64, 64);
    padding: 10px;
    font-size: 30px;
    font-weight: normal;
    line-height: 20px;
}
.trainings {
    counter-reset: i 0;
}
.training {
    min-height: 200px;
    border-bottom: 1px solid rgb(64, 64, 64);
    transition: background-color .3s ease, min-height .6s ease-in-out;
    position: relative;
    counter-increment: i;
}
.training:after {
    content: counter(i);
    opacity: 1;
    transition: .3s opacity ease-in;
    position: absolute;
    z-index: 0;
    bottom: -15px;
    left: 0;
    font-size: 100px;
    color: #b1b0b0;
    text-align: center;
}
.training .sets {
    display: block;
}
.training.new {
    min-height: 0;
}
.training.new:after {
    opacity: 0;
}
.training li {
    left: 0 !important;
    top: 0 !important;
}

.addTraining {
    position: absolute;
    transition: .3s all ease;
    margin: -23px 0 0 -22px;
    left: 50%;
    font-size: 30px;
    color: #fff;
    background: rgb(255, 76, 54);
    padding: 1px 15px 3px;
    border-radius: 100%;
    cursor: pointer;
    z-index: 1;
}
.addTraining:hover {
    opacity: .7;
}

/* Muscles */
.muscles {
    text-align: center;
    align-content: flex-end;
    flex-grow: 2;
    position: relative;
}
.muscles_switcher {
    background: #5db0bf;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 5px 10px;
    position: absolute;
    bottom: 5px;
    left: 50%;
    margin: 0 0 0 -30px;
}

.excercise-info {
    position: relative;
    flex-grow: 5;
}

.muscles_side {
    height: 90%;
    opacity: 0;
    height: 88vh;
    max-width: 90%;
    position: absolute;
    right: 0;
    top: 2vh;
    transition: .3s ease opacity;
    visibility: hidden;
}
.muscles_side.active {
    opacity: 1;
    visibility: visible;
}
.muscles_side g {
    cursor: pointer;
    transition: .2s all ease-out;
    opacity: .3;
}
.muscles_side g:hover {
    opacity: 0;
}

.muscles_side path {
    fill: #fff;
}

.muscles_side .bg, 
.muscles_side .bg:hover {
    opacity: 1;
    cursor: default;
}



/*excerrsizes*/
.excercises {
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 10px;
    top: 10vh;
    max-width: 33%;
    max-height: 70%;
    overflow: auto;
}
.excercises li, .training li {
    position: relative;
    z-index: 1;
    transition: .05s all ease;
}
.excercise-name {
    display: block;
    cursor: pointer;
    background: rgba(53, 93, 128, .2);
    border-width: 0 0 1px 0;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    padding: 5px 20px 5px 5px;
    transition: .2s all ease-in;
}
.excercises li:last-child .excercise-name, 
.training li:last-child .excercise-name {
    border: none;
}
.info .excercise-name {
    background: transparent;
    transition: none;
    margin: 0 0 5px;
    display: block;
    font-weight: bold;
    border: none;
    font-size: 18px;
}

.training .excercise-name {
    padding-right: 135px;
}
.excercises li.animated, .training li.animated {
    transition: .2s all ease-in;
}
li.temp {
    position: absolute;
    cursor: pointer;
    left: -5000px;
    top: -100px;
}

/*INFO*/
.info {
    background: #fcfcfc;
    border-left: 8px solid rgb(255, 76, 54);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    z-index: 1;
    transition: .3s transform ease;
    transform: translateX(100%);
}
.info.opened {
    transform: translateX(0);
}

.info__temp {
    transition: .3s ease opacity;
    transform: translateX(0);
    opacity: 0;
    visibility: hidden;
}
.info__temp.visible {
    transition: none;
    opacity: 1;
}
.info__focus {
    visibility: visible;
}
.info_close {
    color: rgb(255, 76, 54);
    position: fixed;
    top: 10px;
    left: -37px;
    font-size: 20px;
    text-decoration: none;
    transition: .2s all ease;
    display: none;
}
.info_close:hover {
    color: #fff;
}
.info.opened .info_close {
    display: block;
}
.info_content {
    max-height: 100%;
    overflow: auto;
    padding: 10px 20px 10px;
}
.info .description {
    display: block;
}
.info img {
    max-width: 100%;
    max-height: 300px;
    margin: 0 auto 10px;
}

.sets {
    position: absolute;
    top: 3px;
    right: 23px;
    display: none;
}
.sets > span {
    padding: 2px 4px;
    transition: .2s all ease;
}
.sets span[contenteditable]:hover, .sets span[contenteditable]:focus {
    background: #e0dfdf;
    color: #858585;
}

.delete {
    color: rgb(255, 76, 54);
    position: absolute;
    right: 5px;
    top: 2px;
    opacity: 0;
    cursor: pointer;
    transition: .2s ease opacity, .3s ease text-shadow;
}
.delete:hover {
    text-shadow: 0 0 1px rgb(255, 76, 54);
}

.trainings li:hover .delete {
    opacity: 1;
}

.repeats {
    display: inline-block;
    width: 46px;
}
.repeats > span {
    display: inline-block; 
    min-width: 8px;
    max-width: 15px;
    height: 20px;
    overflow: hidden;
    vertical-align: top;
}
.weight {
    border-right: 1px solid rgba(255, 255, 255, .5);
    border-left: 1px solid rgba(255, 255, 255, .5);
    display: inline-block;
    width: 43px;
    text-align: right;
}
.weight > span {
    display: inline-block; 
    min-width: 8px;
    max-width: 24px;
    height: 20px;
    overflow: hidden;
    vertical-align: top;
}

.description {
    display: none;
    font-size: 16px;
    line-height: normal;
}
.description ul, .description ol {
    margin: 0 0 10px;
}
.description li {
    list-style-type: disc;
    margin: 0 0 3px 15px;
}


/*Statistics*/
.statistics {
    margin: 0 auto 50px;
}
.statistics td {
    min-width: 70px;
    padding: 5px 10px;
    font-size: 30px;
}
.statistics td + td {
    text-align: center;
}

.plots {
    margin: auto;
    width: 80%;
}
.plots_header {
    margin: 0 auto 20px;
}
.plots_item {
    float: left;
    margin: 0 5% 30px 0;
    width: 45%;
    text-align: center;
}

.easy {
    background: rgba(204, 255, 216, .7);
}
.normal {
    background: rgba(8, 229, 60, .3);
}
.hard {
    background: rgba(255, 148, 77, .4);
}
.insane {
    background: rgba(243, 56, 56, .4);
}


