/*Layout*/
$layout_width: 1180px;

/*Fonts*/
$default_font-family: 'Formular-Light', serif;
$headings_font-family: 'FuturaCondExtraBoldObl', "Times new roman";
$subheadings_font-family: 'FuturaCondBookObl', "Times new roman";
$default_font-size: 15px;
$small_font-size: 12px;

$heading_color: #000;
$default_color: #545454;
$light_color: #6d6d6d;

$bright-color: #007afc;

$link_color: #000;
$link_color__hover: #595959;

/*Inputs*/
$input_color: #000;
$input_border-color: #e8e8e8;
$input_background: #fff;

$button_color: #fff;
$button_background: $link_color;

$error_color: #ef2924;
$form-wrong_color: #b0182a;

/*Muscles colors*/
$press: #8ddf33;
$biceps: #9725A3;
$triceps: #531ACC;
$shoulders: #F96536;
$butt: #DA306C;
$chest: #8E0F3C;
$back: #5479FF;