.menu {
    background: rgba(53, 93, 128, .3);
    margin: auto;
    width: 1300px;
    overflow: hidden;

    a {
        display:  inline-block;
        padding: 10px 15px;
        color: #fff;
    }
}