.easy {
    background: rgba(204, 255, 216, .7);
}
.normal {
    background: rgba(8, 229, 60, .3);
}
.hard {
    background: rgba(255, 148, 77, .4);
}
.insane {
    background: rgba(243, 56, 56, .4);
}