.excercise-name {
    display: block;
    cursor: pointer;
    font-size: 17px;
    color:#423b5d;
    padding: 20px 30px 20px 0;
    border-bottom: 1px solid #e8e8ec;
    transition: .2s all ease-in;

    .info & {
        background: transparent;
        transition: none;
        margin: 0 0 5px;
        display: block;
        font-weight: bold;
        border: none;
        font-size: 18px;
    }

    .excercises li:last-child &, 
    .training li:last-child & {
        border: none;
    }
    .training & {
        padding-right: 135px;
    }
}