.muscles-list {
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translate(0, -50%);

    a {
        color: gray;
        display: block;
        margin: 0 0 20px;
        text-decoration: none;
        text-transform: uppercase;
    }
}