.muscles {
    cursor: all-scroll;    
    text-align: center;
    
    &_map {
        background-repeat: no-repeat;
        background-size: auto 100%;
        height: 80vh;
        left: 50%;
        top: 55%;
        transform: translate(-50%, -50%);
        position: absolute;
        @include tablet {
            height: 90vh;
            top: 50%;            
        }

        &__girl {
            background-image: url(img/girl.png);
        }
    }
    &_side {
        transition: .3s ease opacity;
        opacity: 0;
        visibility: hidden;

        &.active {
            opacity: 1;
            visibility: visible;

            path {
                display: block;
            }
        }

        path {
            cursor: pointer;
            transition: .2s all ease-out;
            opacity: .6;
            display: none;

            &:hover {
                opacity: 1;
            }
        }
    }
}