.muscles {
    cursor: all-scroll;    
    text-align: center;
    
    &_map {
        background-repeat: no-repeat;
        background-size: auto 100%;
        height: 80vh;
        left: 50%;
        top: 55%;
        transform: translate(-50%, -50%);
        position: absolute;
        @include tablet {
            height: 90vh;
            top: 50%;            
        }

        &__girl {
            background-image: url(img/girl.png);
            width: 37vh;
            z-index: 0;
            @include tablet {
                width: 42vh;
            }
        }
    }
    &_side {
        transition: .3s ease opacity;
        opacity: 0;
        visibility: hidden;

        &.active {
            opacity: 1;
            visibility: visible;

            path {
                display: block;
            }
        }

        path {
            cursor: pointer;
            transition: .2s all ease-out;
            opacity: .6;
            display: none;

            &:hover {
                opacity: 1;
            }
        }
    }
    &_title {
        fill: #8ddf33;
        font-size: 30px;
        font-weight: bold;
        font-style: italic;
        position: absolute;
        text-decoration: none;
        text-transform: uppercase;
        z-index: -1;
        opacity: 0;
        transition: .2s ease opacity,
                    .2s ease transform;

        &__visible {
            opacity: 1;
            z-index: 1;
        }

        &__press {
            top: 50%;
            left: 45%;
        }
        &__sidepress {
            top: 30%;
            left: 50%;
            transform: translate(-100%, 0);
            z-index: 0;
        }
        &__shoulder {
            top: 50%;
            left: 45%;
        }
        &__trapezium {
            top: 30%;
            left: 50%;
            transform: translate(-100%, 0);
            z-index: 0;
        }
        &__chest {
            top: 50%;
            left: 45%;
        }
        &__quadriceps {
            top: 30%;
            left: 50%;
            transform: translate(-100%, 0);
            z-index: 0;
        }
        &__biceps {
            top: 50%;
            left: 45%;
        }
        &__triceps {
            top: 30%;
            left: 50%;
            transform: translate(-100%, 0);
            z-index: 0;
        }
        &__hamstrings {
            top: 50%;
            left: 45%;
        }
        &__shin {
            top: 30%;
            left: 50%;
            transform: translate(-100%, 0);
            z-index: 0;
        }
        &__butt {
            top: 50%;
            left: 45%;
        }
        &__back {
            top: 30%;
            left: 50%;
            transform: translate(-100%, 0);
            z-index: 0;
        }
    }
}