.training {
    padding: 0;
    list-style: none;    

    &_item {
        background: #f6f6f6;
        padding: 30px 35px;
    }
    &_excercise {
        font-family: $subheadings_font-family;
        font-size: 30px;
    }
}