@font-face {
    font-family: 'Formular-Light';
    src: url('fonts/formular-lisht.woff') format('woff');
}
@font-face {
    font-family: 'FuturaCondBookObl';
    src: url('fonts/futuraptcond-bookobl.woff') format('woff');
}
@font-face {
    font-family: 'FuturaCondExtraBoldObl';
    src: url('fonts/futuraptcond-extraboldobl.woff') format('woff');
}